*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
span,
data,
input,
select,
button,
textarea,
i {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
select,
textarea {
  width: 100%;
}
button {
  cursor: pointer;
}
i {
  pointer-events: none;
}
address {
  font-style: normal;
}
html {
  font-family: "Rubik", "Sans-serif";
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: gray;
  font-size: 1.6rem;
  line-height: 2;
  height: 300vh;
}
:focus-visible {
  outline-offset: 4px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}
/* ----------------- */

header {
  background-image: linear-gradient(#0a0724, #09001a);
  padding: 10px;
  overflow: hidden;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0 10px 0;
  color: rgb(230, 230, 230);
}
.social-list a:hover {
  animation: translateY 0.8s infinite alternate;
  color: rgb(255, 208, 0);
}
.section-header {
  width: 100%;
  height: 88vh;
  border-radius: 10px;
  margin-bottom: 50px;
 background-position: right right;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "rubik", "sans serif";

  display: flex;
}
.section-header .header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 0 0 10px;
}
.section-header .header-left h1 {
  font-size: 70px;
  font-family: "oswald";
  line-height: 9rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(25px);
}
.section-header .header-left p {
  font-size: 12px;
  font-family: "rubik";
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(25px);
  text-indent: 1.5rem;
  line-height: 1.7rem;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .section-header{
    width: 70%;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
  }
  .section-header .header-left h1{
    font-size: 100px;
    line-height: 13rem;
    text-align: center;
  }
  .section-header .header-left p{
    max-width: 250px;
    font-size: 16px;
    margin-left: 10%;
  }
  .section-about p{
    max-width: 35%;
  }
  .slider{
    max-width: 30%;
  }
}
/* .section-header .header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
} */
.button-icon {
  text-transform: uppercase;
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
  width: 9em;
  aspect-ratio: 1/0.25;
  color: white;
  background-color: #282936;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 0.5em;
  outline: 0.1em solid #353535;
  border: 0;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-top: 25px;
}

.button-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #212121, #252525);
  background: radial-gradient(
    circle at bottom,
    rgba(50, 100, 180, 0.5) 10%,
    #212121 70%
  );
  outline: 0;
}

.icon {
  fill: white;
  width: 1em;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  margin: auto;
  transform: translate(-35%, 10%);
}
/*-----------------  */
.section-services {
  width: 100%;
  height: 88vh;
  border-radius: 10px;

  color: white;
  font-family: "rubik", "sans serif";

  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  margin: 0 auto;
  width: 75%;
  height: 80%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.616);
}
.slides {
  width: 400%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}
.slide img {
  width: 100%;
}
.manual-navigation {
  position: absolute;
  width: 75%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: white;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto {
  position: absolute;
  width: 75%;
  margin-top: 94%;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}
/* ---------------- */
.section-about {
  width: 100%;
  height: 95vh;
  border-radius: 10px;
  background-image: linear-gradient(#058ba3, #056779, #04505e);
  padding: 30px;

  color: white;
  font-family: "rubik", "sans serif";

  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-about h1{
  font-size: 60px;
  color: rgb(255, 244, 244);
  text-align: center;
  font-family: 'oswald', 'sans-serif';
  line-height: 7rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 3px 3px 3px black;
}
.section-about p{
  font-size: 16px;
  text-align: center;
  font-family: 'rubik';
  
}
.section-about button {
  margin: 20px;
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 3px 3px 3px #0000006e;
  font-weight: bold;
  font-family: "oswald";
}
.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* -- */
.insta-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 3px 3px 3px #0000006e;
  font-weight: bold;
  font-family: "oswald";
}

.insta-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.insta-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.insta-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.insta-button:hover {
  color: #ffffff;
  border: 1px solid rgb(255, 0, 0);
}
.insta-button:hover .insta-button:hover:before {
  top: -35%;
  background-color: rgb(255, 0, 0);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.insta-button:hover:after {
  top: -45%;
  background-color: rgb(255, 0, 0);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* ---------------- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
  background-color: black;
  background-attachment: fixed;
}
.footer img {
  width: 300px;
  height: 250px;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #fff;
}

.footer-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: rgb(255, 208, 0);
}

@keyframes translateY {
  from {
    transform: translateY(0) translateX(0) scale(1);
  }
  to {
    transform: translateY(-8px) translateX(2px) scale(1.1);
  }
}
@keyframes logoTranslate {
  from {
    transform: translateY(0) translateX(0) scale(1);
  }
  to {
    transform: translateY(3px) translateX(0px) scale(1.2);
  }
}
@media screen and (max-width: 768px) {
  @keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }
}
/* --------------------- */

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
  left: -144px;
  background-color: #232224;
  color: #fff;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 16rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background: rgb(226, 189, 23);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.525rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
  text-shadow: 3px 3px 3px black;
}

button:hover .button-text {
  color: #fff;
  text-shadow: 1px 1px 3px black;
}
